/* GLOBAL */
    .helpAvatar{
        background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(237,237,235,1) 46%, rgba(195,195,195,1) 100%);
    }
    .help-li{
        color: rgb(153, 153, 153);
        font-family: 'Rubik';
        font-size: 1.2rem;
    }
    .help-ul{
        text-decoration: none;
    }
    .link{
        text-transform: uppercase;
        text-decoration: none;
        color: #1d7e66 !important;
    }
    .link:hover{
        text-decoration: underline
    }


/* APP */
    .app-background{
        background: rgb(45,45,79);
        background: linear-gradient(90deg, rgba(45,45,79,1) 0%, rgba(25,141,210,1) 35%, rgba(18,117,68,1) 100%);
    }


/* HOME-BAR */
    /* HomeBar.vue*/
        .homebar-logo{
            color: #fff;
        }
        .homebar-logo-text{
            font-family: 'Rubik';
            font-weight: 500;
            color: rgb(138, 138, 138);
        }
        .homebar-logo-text1{
            font-family: 'Rubik';
            font-weight: 400;
            color: #117c09;
        }
        .homebar-funds-text1{
            color: #117c09;
            font-size: 1.5;
            font-weight: 600;
        }
        .homebar-link{
            text-decoration: none;
            color: #000 !important;
        }
    /* Way */
        .way-link{
            text-decoration: none;
            color: #000 !important;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1rem;
        }
        .way-active{
            color: #0278ff !important;
        }
        .way-divider{
            margin-left: 3px;
            margin-right: 3px;
        }


/* POST-IT REGISTER BANNER */
    /*PostitRegister.vue*/
        .bannerregister{
            background-color: rgba(0, 0, 0, .24)
        }
        .bannerregister-text{
            font-size: 1.5rem;
            font-weight: 400;
            color: rgb(221, 221, 221);
            font-family: 'Rubik';
            margin-left: 20px;
        }
        .bannerregister-avatar-background{
            background: rgb(25,143,9);
            background: linear-gradient(180deg, rgba(25,143,9,1) 0%, rgba(58,185,75,1) 35%, rgba(18,177,138,1) 100%);
        }
        .bannerregister-btn{
            padding: 7px;
            margin-left: 20px;
            justify-content: center;
            align-items: center;
        }
        .bannerregister-btn-text{
            color: rgb(199, 199, 199);
            text-transform: uppercase;
            font-size: medium;
            font-weight: 400;
        }
        .bannerregister-btn-text:hover{
            color: rgb(255, 255, 255);
        }


/* EARNINGS AND EXPENSES PAGE */
    /* GLOBAL */
        .postit-close{
            position: absolute;
            right: 10px;
            top: 10px;
            justify-content: center;
            cursor: pointer;
        }
    /* EarningsRegister.vue && ExpensesRegister.vue */
        .postitregister-title-text{
            font-size: 2rem;
            color: #fff;
            font-weight: 400;
            margin-right: 5px;
        }
        .postitregister-title-text1{
            font-size: 2rem;
            color: rgb(224, 224, 224);
            font-weight: 300;
        }
    /* Earning.vue && Expense.vue */
        .postit-title-description{
            font-size: 1.5rem;
            font-weight: 400;
            padding-right: 10px;
        }
        .postit-title-value{
            font-size: 1.1rem;
        }


/* PROFILE PAGE */
    /* Profile.vue */
        .profileopening-background{
            background-color: #fff;
        }
    /* OpeningBalance.vue */
        .opening-balance-span{
            font-family: 'Rubik';
            color: #ccc;
            font-weight: 400;
            font-size: 2rem;
        }
    /* ProfileList.vue */
        .profile-list-layout{
            background-color: #2929299f;
        }
    /* Earning.vue && Expense.vue */
        .profile-postit{
            font-family: 'Rubik';
            margin: 25px
        }
        .profile-postit-title{
            color: rgb(75, 75, 75);
        }
        .profile-postit-text{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .profile-postit-text-item{
            margin-top: 5px;
            border-radius: 4px;
            font-size: 1.4rem;
            font-weight: 500;
            color: rgb(75, 75, 75);
        }
        .profile-postit-label{
            font-size: 1rem;
            color: #aaa !important;
        }
    /* ProfileSparkline.vue */
        .profile-sparkline-card{
            background: rgb(26,94,181);
            background: linear-gradient(90deg, rgba(26,94,181,0.5) 0%, rgba(19,153,233,0.5) 46%, rgba(37,127,214,0.5) 100%);
        }
        .profile-sparkline-card-title{
            margin: 20px;
        }
        .sparkline-span{
            font-family: 'Rubik';
            text-transform: uppercase;
            color: rgb(233, 233, 233);
            font-weight: 400;
            font-size: 2.5rem;
        }

/* ANIMATIONS */
    @keyframes slide-in{
        from { transform: translateY(-30px); opacity: 0; }
        to {transform: translateY(0px); opacity: 1; }
    }
    @keyframes slide-out {
        from { transform: translateY(0px); opacity: 1; }
        to {transform: translateY(-30px); opacity: 0; }
    }
    .slide-enter-active{
        animation: slide-in 0.3s ease;
    }
    .slide-leave-active{
        animation: slide-out 0.3s ease;
    }


/* RESPONSIVE */
    @media only screen and (max-width: 768px){
        .sparkline{
            width: 500px;
        }
        .profilePostit{
            width: 200px;
        }
        .bannerregister-text{
            font-size: 1rem;
        }
        .bannerregister-btn{
            font-size: medium;
        }
        .profile-sparkline-card{
            width: 80vw;
        }
        .sparkline-span{
            font-size: 1.5rem;
        }
    }
    @media only screen and (max-width: 425px){
        .sparkline{
            width: 380px;
        }
        .sparkline-span{
            font-size: large;
        }
        .profile-sparkline-card{
            width: 80vw;
        }
        .profile-sparkline-card-title{
            margin: 10px;
        }
        .homebar-logo-text{
            font-size: medium;
        }
        .homebar-logo-text1{
            font-size: medium;
        }
        .homebar-funds-label{
            display: none;
        }
        .bannerregister-avatar{
            display: none;
        }
        .bannerregister-btn-text{
            font-size: small;
        }
        .bannerregister-text{
            font-size: small;
        }
        .homebar-link{
            font-size: small;
        }
        .way-link{
            font-size: x-small;
        }
        .postit-description{
            font-size: medium;
        }
        .postit-value{
            font-size: medium;
        }
    }
    @media only screen and (max-width: 375px){
        .way-link{
            font-size: x-small;
        }
        .bannerregister-btn{
            padding: 2px;
        }
        .bannerregister-btn-text{
            font-size: x-small;
        }
        .bannerregister-text{
            font-size: x-small;
        }
        .postit-title-description{
            font-size: medium;
        }
        .postit-title-value{
            font-size: medium;
        }
        .profile-span{
            font-size: medium;
        }
        .homebar-logo-text{
            font-size: small;
        }
        .homebar-logo-text1{
            font-size: small;
        }
    }
    @media only screen and (max-width: 320px){
        .homebar-logo-text{
            font-size: x-small;
        }
        .homebar-logo-text1{
            font-size: x-small;
        }
        .way-link{
            font-size: 7px;
        }
        .bannerregister-btn-text{
            font-size: 7px;
        }
        .postit-title-description{
            font-size: medium;
        }
        .postit-title-value{
            font-size: medium;
        }
        .sparkline-span{
            font-size: medium;
        }
    }