.bannerText{
    font-size: 1.5rem;
    font-weight: 300;
    color: #ccc;
}
#logo{
    cursor: pointer;
}

.containerScreen{
    background-color: rgba(0, 0, 0, 0.780);
}

.registerOutdoor{
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
}
.word1{
    color: #fff;
    font-weight: 400;
    font-size: 2rem;
}
.word2{
    font-weight: 400;
    padding-left: 5px;
    color: #fff;
}
.outdoor1{
    font-size: 2rem;
    color: rgb(160, 160, 160);
    text-transform: uppercase;
    font-weight: 300;
}
.headerFunds{
    color: #117c09;
    font-size: 1.5;
    font-weight: 600;
}
.postitDescription{
    font-size: 1.5rem;
    font-weight: 400;
    padding-right: 10px;
}
.postitValue{
    font-size: 1.1rem;
}

.close{
    position: absolute;
    right: 10px;
    top: 10px;
    justify-content: center;
    cursor: pointer;
}

.profileEarningTitle{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 2px;
}

.profileEarningLabel{
    font-size: 1rem;
    font-weight: 600;
    padding-right: 2px;
}

@keyframes slide-in{
    from { transform: translateY(-30px); opacity: 0; }
    to {transform: translateY(0px); opacity: 1; }
}

@keyframes slide-out {
    from { transform: translateY(0px); opacity: 1; }
    to {transform: translateY(-30px); opacity: 0; }
}

.slide-enter-active{
    animation: slide-in 0.3s ease;
}
.slide-leave-active{
    animation: slide-out 0.3s ease;
}